/* 存放首页CSS样式 */

/* 版心居中 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
body {
    background-color: #f3f5f7;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}

/* 头部区域 */
.header {
    height: 100px;
    background-color: #fff;
}
.header .wrapper {
    padding-top: 29px;
    display: flex;
}
.logo a {
    display: flex;;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
}

/* 导航区域 */
.nav {
    margin-left: 102px;
}
.nav ul {
    display: flex;
}
.nav li {
    margin-right: 24px;
}
.nav li a{
    display: block;
    padding: 6px 6px;
    line-height: 27px;
    font-size: 19px;
    color: #333;
}

.nav li .active,
.nav li a:hover {
    border-bottom: 3px solid #00a4ff;
}

/* 搜索区域 */
.search {
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 420px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}
.search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    /* 去掉表单控件的焦点框 */
    outline: none;
}
.search input::placeholder {
    font-size: 14px;
    color: #999;
}
.search a {
    align-self:center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}

/* 用户区域 */
.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    margin-right: 7px;
    vertical-align: middle;
}
.user span {
    font-size: 16px;
    color: #666;
}

/* banner区域 */
.banner {
    height: 420px;
    background-color: #0092cd;
}
.banner .wrapper {
    display: flex;
    height: 420px;
    justify-content:space-between;
    background-image: url(../uploads/banner.png);
}

/* 左导航区域 */
.banner .left {
    padding: 3px 20px;
    width: 191px;
    height: 420px;
    background-color: rgba(0,0,0,0.48);
}

.banner .left a {
    display: block;
    /* height: 60px; */
    background: url(../images/right.png) no-repeat right center;
    line-height: 46px;
    font-style: 46px;
    color:white;
}
.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

/* 课程表区域 */
.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}
.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
} 
.banner .right .content {
    padding: 14px;
    height:  257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}
.banner .right dt {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.banner .right dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}
.banner .right dd span {
    color: #00a4ff;
}
.banner .right dd span strong {
    color: #7d7d7d;
    font-weight: 400;
}
.banner .right a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    line-height: 32px;
    border-radius: 32px;
    font-size: 14px;
    color: #fff;
}

/* 精品推荐区域 */
.recommend {
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rabg(211,211,211,0.5);
    line-height: 60px;
}
.recommend ul {
    flex: 1;
    display: flex;
}
.recommend h3 {
    font-style: 18px;
    color: #00a4ff;
    font-weight: 400;
}

.recommend ul li a {
    font-size: 18px;
    padding: 0 20px;
    border-right: 1px solid #e0e0e0;
    color: #333;
}
.recommend ul li:last-child a {
    border-right: none;
}
.recommend .modify {
    font-size: 16px;
    color: #00a4ff;
}


/* 精品推荐课程区域 */
.course {
    margin-top: 15px;
}
.hd {
    display: flex;
    color: #333;
    height: 60px;
    line-height: 60px;
    justify-content: space-between;
}
.hd h3{
    font-style: 21px;
    font-weight: 400;
}
.hd .more {
    padding-right: 20px;
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color: #999;
}

/* 课程内容区域 */
.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    width: 228px;
    height: 271px;
    /* background-color: pink; */
    margin-bottom: 14px;
}

.bd li .pic {
    height: 156px;
}
.bd li .text {
    padding: 20px;
    height: 115px;
    background-color: #fff;
}
.bd li .text h4 {
    height: 40px;
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.bd li .text p {
    font-style: 14px;
    line-height: 20px;
    color: #999;
}
.bd li .text span {
    color: #fa6400;
}
.bd li .text i {
    font-style: normal;
}

/* 前段区域 */
.hd ul {
    display: flex;
}
.hd li {
    margin-right: 60px;
    font-size: 16px;
}
.hd li .active {
    color: #00a4ff;
}
.bd {
    display: flex;
    justify-content: space-between;
}
.bd .left {
    width: 228px;
    /* background-color: pink; */
}
.bd .right {
    width: 957px;
    /* background-color: pink; */
}
.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

.java .bd {
    display: flex;
    display: block;
    flex-wrap: wrap;
}
.java .bd li
{
    justify-content: space-around;
    font-size: 16px;
}

/* 版权区域 */
.footer {
    padding-top: 60px;
    margin-top: 60px;
    height: 273px;
    background-color: #fff;
}
.footer .wrapper{
    display: flex;
    justify-content: space-between;
}
.footer .left{
    width: 440px;
    /* background-color: pink; */
}

.footer .left p {
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}
.footer .left .download {
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    display: block;
    text-align: center;
    line-height: 34px;
    font-style: 16px;
    color: #00a4ff;
}
.footer .right {
    display: flex;
}
.footer .right dl{
    margin-right: 130px;
}
.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}
.footer .right a {
    font-style: 14px;
    color: #666;
    line-height: 24px;
}